@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --brand-color1: rgba(46, 47, 66, 1);
  --brand-color2: rgba(77, 90, 229, 1);
  --brand-color3: rgba(67, 68, 85, 1);
  --brand-color4: rgba(244, 244, 253, 1);
  --brand-color5: rgba(255, 255, 255, 1);
  --brand-color6: rgba(64, 75, 191, 1);
}

body {
  font-family: "Roboto", "sans-serif";
  color: var(--brand-color1);
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  max-width: 1158px;
  padding-inline: 15px;
}

.header-wrapper {
  display: flex;
  height: 72px;
  border-bottom: 1px solid var(--brand-color4);
  background: var(--brand-color5);
}

.company-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  font-family: "raleway";
  padding-right: 76px;
}

.logo-part-darkbg {
  color: var(--brand-color4);
}

.logo-part-lightbg {
  color: var(--brand-color1);
}

.site-links a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: var(--navyblue, #2e2f42);
}

.site-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.site-links a:hover,
.site-links a:focus {
  color: var(--brand-color6);
  text-decoration: underline;
}

.contact-links a {
  display: flex;
  text-decoration: none;

  font-size: 16px;
  line-height: 150%;
  color: var(--slate, #434455);
}

.contact-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 40px;
}

.contact-links a:hover,
.contact-links a:focus {
  color: var(--brand-color6);
}

.main-title {
  color: var(--brand-color5);
  font-size: 56px;
  font-weight: 700;
  line-height: 107.143%;
  text-align: center;
}

.main-title-bg {
  background-color: var(--brand-color1);
  height: 600px;
}

.order-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: var(--brand-color5);
  background-color: var(--brand-color2);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.order-button:hover,
.order-button:focus {
  background-color: var(--brand-color6);
}

.filter-buttons {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.filter-buttons button {
  color: var(--brand-color5);
  background-color: var(--brand-color2);
  cursor: pointer;
  font-size: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.filter-buttons button:focus,
.filter-buttons button:hover {
  background-color: var(--brand-color6);
}

.titles {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
}

.team-names,
.feature-title span,
.project-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}

.team {
  text-align: center;
}

.description,
.project-card-description {
  color: var(--brand-color3);
  font-size: 16px;
  line-height: 150%;
}

.features {
  display: flex;
  justify-content: space-between;
}

.capabilities {
  display: flex;
}

.team {
  display: flex;
}

.footer-description {
  color: var(--brand-color4);
}

.footer-wraper {
  background-color: var(--brand-color1);
  height: 312px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  text-align: left;
  flex-shrink: 0;
  justify-content: space-between;
}

.cards figure {
  margin: 0;
}

.cards figcaption {
  padding: 0px 16px;
  margin: 32px 0px;
}
